@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0; /* 모든 요소의 기본 여백을 0으로 설정 */
    padding: 0; /* 모든 요소의 기본 패딩을 0으로 설정 */
    list-style: none; /* 리스트 스타일 제거 */
    text-decoration: none; /* 텍스트 장식 제거 (예: 밑줄) */
    box-sizing: border-box; /* 요소의 크기 계산 시 패딩과 테두리를 포함 */
    font-family: Pretendard;
}


/* 전체 컨테이너 설정 */
.container {
    display: grid;
    width: 1140px;
    height: 110vh;
    position: relative; /* 자식 요소에 대해 상대 위치 설정 */
    bottom: 60px; /* 아래쪽 위치 조정 */
    padding: 20px; /* 내부 여백 설정 */
    margin: 0 auto;
    margin-top: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    border-radius: 1em;
}

/* 상단 큰 배너 설정 */
.mainbanner {
    grid-column: 1 / 4; /* 1열부터 3열까지 차지 */
    height: 300px; /* 높이 300px 설정 */
    background-color: #ffffff; /* 배경색 설정 */
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em; /* 둥근 모서리 설정 */
    border: 1px solid #ccc; /* 테두리 색상 설정 */
    position: relative; /* 슬라이드 버튼을 위한 위치 조정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
}

/* 메인배너 슬라이드 스타일 */
.slides {
    position: relative; /* 슬라이드 버튼을 위한 위치 조정 */
    height: 300px; /* 높이 300px 설정 */
    display: flex; /* 슬라이드를 수평으로 배치 */
    width: 300%; /* 3개의 슬라이드를 가로로 배치하기 위해 3배로 설정 */
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 */
}

.slide {
    width: 100%; /* 각 슬라이드가 전체 너비를 차지 */
    flex-shrink: 0; /* 슬라이드가 줄어들지 않도록 설정 */
    height: 100%;/* 슬라이드 높이 설정 */
    display: flex; /* 내부 요소를 flexbox로 배치 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    color: white; /* 글자 색상 */
}

/* 각 슬라이드 배경색 설정 */
.slide1 {
    background-color: white; /* 첫 번째 슬라이드 배경색 설정 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    height: 400px; /* 높이 400px 설정 */
    align-items: center; /* 세로 중앙 정렬 */
}

/* info 부모 박스 스타일 */
.profile-info {
    color:rgb(71, 71, 71);
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    position: relative; 
    left: 160px;
    top :10px;
}


.profile-info p {
    font-weight: bold; /* 글씨 두껍게 설정 */
    font-size: 34px; /* 글씨 크기 설정 */
    display: flex; /* flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 프로필 이미지 스타일 */
.profile-img {
    width: 200px; /* 이미지 너비 200px 설정 */
    height: 200px; /* 이미지 높이 200px 설정 */
    position: relative; /* 상대 위치 설정 */
    left: 100px; /* 왼쪽으로 100px 이동 */
    bottom: 60px; /* 아래로 60px 이동 */
    border-radius: 50%; /* 원형 이미지 */
    margin-bottom: 20px; /* 아래쪽 여백 설정 */
    border: 1px solid #a09f9f;

}

.profile-img:hover {
    opacity: 0.5; /* 마우스 오버 시 불투명도 변경 (선택 사항) */
}


.profile-button {
    width: 80px; /* 이미지 너비 200px 설정 */
    height: 20px; /* 이미지 높이 200px 설정 */
    position: relative; /* 상대 위치 설정 */
    right: 42px;
    top: 50px; /* 아래쪽 여백 설정 */
    border: 1px solid #a09f9f;
    border-radius: 1em; /* 원형 이미지 */
    animation: blink 1s infinite; /* 깜빡임 효과 추가 */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


.profile-hello {
    font-size: 48px; /* 글씨 크기 */
    color: #44856c; /* 글씨 색 */
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: inline-block;
    align-items: center;
    width: 700px;
    height: 80px;
    padding: 20px;
    position: relative; 
    right: 80px;
    bottom: 100px;
    opacity: 0; /* 초기 투명도 */
}

.emotion-box {
    width: 50px; /* 이미지 너비 200px 설정 */
    height: 50px; /* 이미지 높이 200px 설정 */
    position: relative; /* 상대 위치 설정 */
    right: 520px;
    border-radius: 50%; /* 원형 이미지 */
    top: 10px; /* 아래쪽 여백 설정 */
    border: 1px solid #a09f9f;
}


.slide2 {
    background-color: white;  /* 첫 번째 슬라이드 배경색 설정 */
    justify-content: flex-start;
}

.slide2-dietbanner {
    align-items: center; /* 수직 중앙 정렬 */
    position: relative;
    font-size: 28px;
    width: 930px;
    height: 200px; /* 슬라이드 전체 높이 설정 */
    left: 80px;
    padding: 20px;
    color:black;
}

.calorie-details {
    font-size: 16px;
}    

.calorie-details span {
    color: #e74c3c;
}   

.calorie-progress {
    width: 100%;
    margin: 15px 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    position: relative;
}

.calorie-bar {
    height: 100%;
    width: 40%;
    background-color: #e74c3c;
    position: absolute;
}    


.footer-text {
    font-size: 14px;
    margin-top: 10px;
    color: #888;
}   

#total-calories {
    font-weight: bold;
    color: #FF4500; /* 강조 색상 */
}

.slide3 {
    background-image: url(../img/weekrunBargraph2.jpg);
    background-color: rgb(255, 255, 255); /* 세 번째 슬라이드 배경색 설정 */
    background-size: contain; /* 이미지가 슬라이드 내에 완전히 보이도록 설정 */
    background-position: center;
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    position: relative;
    right: 250px;
    width: 50%; /* 슬라이드의 너비를 더 크게 조정 */
}


/* 화살표 버튼 스타일 */
.arrow  {
    height: 50px;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경색 설정 */
    color: white; /* 글자 색상 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 내부 여백 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 20px; /* 글씨 크기 설정 */
}

.arrow.left {
    left: 10px; /* 왼쪽 화살표 위치 설정 */
}

.arrow.right {
    right: 10px; /* 오른쪽 화살표 위치 설정 */
}

.adarrow  {
    height: 50px;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경색 설정 */
    color: white; /* 글자 색상 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 내부 여백 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 20px; /* 글씨 크기 설정 */
}


.adarrow.left {
    left: 10px; /* 왼쪽 화살표 위치 설정 */
}

.adarrow.right {
    right: 10px; /* 오른쪽 화살표 위치 설정 */
}


/* 추가 콘텐츠용 작은 div 스타일 */
.small-div {
    position: relative; /* 상대 위치 설정 */
    top: 10px; /* 위에서 60px 아래로 이동 */
    background-color: #f0f0f0; /* 배경색 설정 */
    border: 1px solid #ccc; /* 테두리 색상 설정 */
    margin: 0px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

/* 동영상 배너 스타일 */
.playmp4 {
    grid-column: 2 / 3; /* 두 번째 열에 위치 */
    grid-row: 2 / 3; /* 두 번째 행에 위치 */
    background-color: #ffffff; /* 배경색 설정 */
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    border: 1px solid #ccc; /* 테두리 색상 설정 */
    height: 350px;
    display: flex; /* 내부 요소를 flexbox로 배치 */
}

.playmp4-set {
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
 


/* 광고배너 */
.adbanner {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 0px;
    height: 360px;
    margin-bottom: 80px;
    overflow: hidden; /* 슬라이드가 배너 범위를 넘지 않도록 숨김 */
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 */
}


.ad-slides {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 넘치는 이미지를 숨김 */
}

.ad-slides img {
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    object-fit: cover;
    display: none; /* 기본적으로 이미지를 숨김 */
}


/* 랭킹 배너 */
.ranking {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 720px;
    background-color: #ffffff;
    border: 1px solid #ccc; /* 테두리 색상 설정 */
    padding: 20px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}


.ranking h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 20px;
}

#ranking-list {
    list-style-type: none;
    padding: 0;
}

#ranking-list li {
    font-size: 24px;
    margin: 20px 0;
}

#ranking-list .first {
    font-weight: bold;
    font-size: 34px;
    color: rgb(255, 255, 255); /* 강조 색상 */
    background-color: rgba(227, 60, 86, 1); /* 엷은 빨강색 배경 */
    color: white; /* 하얀색 글씨 */
}

.runner {
    filter: grayscale(100%);
}


/* 알알꿀팁 배너 */

.card-box {
    background-color: white;
    grid-column: 3 / 4; /* 세 번째 열에 위치 */
    grid-row: 2 / 3; /* 두 번째 행에 위치 */
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em; /* 둥근 모서리 설정 */
    height: 350px;
    width: 358px;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card-body h4{
    font-size: 1.5rem;
    text-transform: capitalize;
}


.card-footer{
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.card-image {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    
}

/* 알알꿀팁, 크루모집 관련 태그 속성 */

.tag-cardcolor{
    background: #E23E57;
    /* 그라데이션 요소 */
    /* background: linear-gradient(to bottom, #E23E57, white); */
    color: white;
}

.tag-crewcolor{
    background: blue;
    /* 그라데이션 요소 */
    /* background: linear-gradient(to bottom, #E23E57, white); */
    color: white;
}


.crew-box {
    background-color: white;
    grid-column: 3 / 4; /* 세 번째 열에 위치 */
    grid-row: 3 / 4; /* 세 번째 행에 위치 */
    height: 360px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}


/* 크루 이미지 스타일 */
.crew-image {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.crew-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.crew-body h4{
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* 알알꿀팁, 크루모집 관련 태그 속성 */
.crew-footer{
    display: flex;
    padding: 1rem;
    margin-top: auto;
}


.adslides {
    position: relative; /* 슬라이드 버튼을 위한 위치 조정 */
    display: flex; /* 슬라이드를 수평으로 배치 */
    height: 350px; /* 높이 350px 설정 */
    width: 358px; 
    overflow: hidden; /* 슬라이드 범위를 벗어나는 부분을 숨김 */
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 */
}

.adslide {
    flex-shrink: 0; /* 슬라이드가 축소되지 않도록 설정 */
    height: 350px; /* 슬라이드 높이 설정 */
    width: 358px; /* 슬라이드 너비 설정 */
}
/* 각 슬라이드 배경색 설정 */
.adslide1 {
    background-color: white; /* 첫 번째 슬라이드 배경색 설정 */

}

.adslide2 {
    background-color: rgb(161, 161, 161);

}

.adslide3 {
    background-color: rgb(104, 102, 102);

}