/* 상세보기모달 */
#myDialog1 {
  width: 600px; 
  height: 86%; 
  padding: 10px; 
  border: none;
  border-radius: 1em;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #F5F5F7; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  animation: fadeIn 0.3s ease-in-out; 
  }
  @keyframes fadeIn {
    from {
  opacity: 0; 
  transform: scale(0.9); 
  to {
  opacity: 1; 
  transform: scale(1); 
      }
    }
  }

  @keyframes backdropFadeIn {
  from {
  opacity: 0;
      }
  to {
  opacity: 1;
      }
  }
/* 컨테이너 스타일 */
.container {
  width: 1140px; 
  margin: 0 auto; 
  margin-top: 135px; 
  padding-bottom: 15px; 
  font-family: Pretendard; 
}
/* 인풋 필드 스타일 */
.input4,
.input5
{
  border: none;
  background-color:#EEE;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1em;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  font-family: Pretendard; 
}
.inside{
  border: none;
  position: absolute;
  left: 230px;
  margin-top: 55%;
  background-color: #EEE;
  color: #ffcccc;
  text-align: center;
  padding: 10px 0;
  width: 20%;
  border-radius: 6px;
  cursor: pointer;
}
.file-label{
  position: relative;
  margin-left: 12%;
  top: 80%;
  background-color: #E23E57;
  color: #070606;
  padding: 10px 0;
  width: 50%;
  border-radius: 6px;
  cursor: pointer;
}

.preview-container12 {
  margin-top: 10px;
  position: absolute;
  right: 7%;
  height: 25vh;
  width: 520px;
  border: none;
  background-color:#FFF;
  border-color: black;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}
.preview-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
}
.post-image {
  width: 100%; /* 부모 박스에 맞게 이미지 크기 조정 */
  height: auto; /* 비율 유지 */
  border-radius: 5px; /* 둥근 모서리 */
}
.badge {
text-align: center;
background-color: #ffcccc; /* 연한 빨간색 배경 */
color: #d8000c; /* 빨간색 텍스트 */
padding: 5px 5px;
border-radius: 5px;
margin-bottom: 2px;
font-weight: bold; /* 두껍게 표시 */
}
.report-count-container{
  position: absolute;
  top: 94%;
}

/* 상세보기모달 */
