
main{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin-top: 5px;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    font-size: 40px;
}

section#running{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section#food{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section#crew{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section#tips{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.checkbtn{
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* 크루 스타일 시작 */

.containerBox{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.container{
    width: 1140px;
    margin: 0 auto;
    margin-top: 135px;
    font-family: Pretendard;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: white;
}

.card-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag{
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: 0.75rem;
}

.tag + .tag{
    margin-left: .5em;
}

.tag-blue{
    background: #3962eb;
    /* 그라데이션 요소 */
    /* background: linear-gradient(to bottom, #E23E57, white); */
    color: white;
}

.card-body h4{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card-footer{
    display: flex;
    padding: 1rem;
    margin-top: auto;
}


.readMorebtn{
    background-color: white;
    color: #88304E;
    width: 100px;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: -10px;
    margin-right: 70px;
    font-size: 14px;
    cursor: pointer;
    font-family: Pretendard;
}

.readMorebtn:hover{
    background-color: #E23E57;
    color: #FFF;
}
.l-btn{
    color: #121212;
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}

.l-btn:hover{
    background: #E23E57;
    color: #FFF;
    padding: 10px;
}

.containerform{
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    height: 775px;
}

.form-container{
    margin: 0;
}

.column-left{
    padding: 70px;
    flex: 1;
    padding-right: 20px;
}

.column-right{
    flex: 1;
    padding-right: 20px;
}

.btn{
    background-color: #88304E;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    font-family: Pretendard;
    margin-top: 100px;
    width: 100px;
}
/* 크루 상세 페이지 */
.post-container{
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -20px;
    display: flex;
    margin-bottom: 65px;
}
.writebtn{
    background-color: #88304E;
    color: #FFF;
    width: 100px;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 1px;
    margin-left: 70%;
    font-size: 15px;
    cursor: pointer;
    margin-left: 89%;
    font-family: Pretendard;
}

.writebtn:hover{
    background-color: #E23E57;
    color: #FFF;
}

.button3:hover {
    background-color: #E23E57;
    color: #FFF;
}
.report-count{
    color: #E23E57;
}
.report-count-container{
    margin-top: 10px;
    color: #E23E57;
}

/* 버튼 고정!! ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.button1{
    position: relative;
    margin-left: 77.2%;
    margin-top: 20px;
}
.button3{
    background-color: #892c4d;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.button4{
    background-color: #892c4d;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
#searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 38%;
    font-size: 14px;
    position: absolute;
    left: -300px;
    display: none;
}

.inputput{
    position: relative;
    margin-right:10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
/* 버튼 고정!! ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.input-date{
  width: 32.5%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #E23E57;
  border-radius: 5px;
  font-family: sans-serif;
}
.input-time{
    width: 32.5%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #E23E57;
    border-radius: 5px;
    font-family: sans-serif;
}
.input-fee{
    width: 32.5%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #E23E57;
    border-radius: 5px;
    font-family: sans-serif;

}