@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

body {
    background-color: #f5f5f7;
    font-family: Pretendard;
}
input {
    margin-bottom: 10px;
}
.f_logo {
    width: 80px;
}
.modal_sig,
.modal_log {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.login_modal,
.sign_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}
.modal_tit {
    text-align: center;
    color: #b64e72;
    font-size: 30px;
    margin-bottom: 20px;
}
.content_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 연도-월-일 삭제 */
/* 하이픈 삭제 */
input[type='date']::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
.birth {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 230px;
    height: 35px;
    border: solid 1px #b64e72;
    border-radius: 8px;
}
/* 월 삭제 */
input[type='date']::-webkit-datetime-edit-month-field {
    -webkit-appearance: none;
    display: none;
}
/* 일 삭제 */
input[type='date']::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
/* 연도 삭제 */
input[type='date']::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
/* placeholder적용 */
input[type='date']::before {
    color: #a5a5a5;
    content: attr(placeholder);
    margin-left: 5px;
}
/* /* 연도-월-일 삭제 끝 */

.login_ck {
    width: 48%;
    float: left;
    margin: 2px;
}
.login_ck:hover {
    background-color: #b64e72;
}
input::placeholder {
    color: #a5a5a5;
}
.sig_logo {
    margin: 10px;
    width: 150px;
}
.log_sig {
    margin: 10px;
    font-size: 20px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
}
.log_sig:hover {
    color: #ffffff;
    background-color: #892c4d;
    transition: 2s;
}
.form_deco {
    padding: 20px;
    width: 400px;
    height: 55px;
    font-size: 17px;
    border: solid 1px #b64e72;
    border-radius: 8px;
}
.start_form {
    display: flex;
    flex-direction: column;
}
.wel_main {
    width: 100%;
    height: 100vh;
    color: white;
    background: url('../img/main-photo.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wel_main h3 {
    font-size: 55px;
    margin-bottom: -30px;
}
.wel_main h2 {
    font-size: 80px;
    margin: 20px 0;
    letter-spacing: 3px;
    font-family: 'Varela Round', sans-serif;
}
.main_scroll {
    width: 50px;
}
.wel_main button.mouse {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: upDown 2s ease-in-out infinite;
    cursor: pointer;
}
@keyframes upDown {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 10px;
    }
}
.btn {
    height: 40px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #892c4d;
}
.close_ic {
    position: absolute;
    top: 20px;
    left: 85%;
    width: 20px;
}
.about .ab-backg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('../img/about-img.jpg');
}
.about .ab-backg .ab-title {
    width: 100%;
    height: 50vh;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about .ab-title h2 {
    font-size: 150px;
    color: white;
    font-family: 'Playball', cursive;
}
.about .ab-title h4 {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}
.about .ab-introdu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about .ab-introdu .ab-in-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 5px;
}
.about .ab-introdu .ab-in-card img {
    width: 400px;
}

.about .abo_sect {
    margin: 20px;
}
/* .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .con-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.contact .con-center .cn-title {
    margin: 70px 0 50px 40px;
}
.contact .con-center .cn-title h4 {
    font-size: 30px;
    color: #3f2c89;
    margin-bottom: 20px;
}
.contact .con-center .cn-title h2 {
    font-size: 50px;
    color: #121212;
}
.contact .con-center .contact-sect .cn-first {
    float: left;
    width: 550px;
    text-align: center;
    margin-top: 40px;
}
.contact .con-center .contact-sect .cn-first .cn-info {
    margin-bottom: 40px;
}
.contact .con-center .contact-sect .cn-first .cn-info p {
    font-size: 20px;
    color: #121212;
}
.contact .con-center .contact-sect .cn-first .cn-info h2 {
    font-size: 40px;
    color: #e23e57;
}
.contact .con-center .contact-sect .cn-left {
    float: left;
}
.contact .con-center .contact-sect .cn-left .cn-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #892c4d;
    padding: 20px;
    margin: 0px 30px 20px 40px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}
.contact .con-center .contact-sect .cn-left .cn-card i {
    margin-top: 7px;
}

.contact .con-center .contact-sect .cn-right {
    display: flex;
    flex-direction: column;
    border: 1px solid #892c4d;
    padding: 10px 20px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    margin: 0 50px 70px 0;
}

.contact .con-center .contact-sect .cn-right .cn-form .form-group {
    display: flex;
    flex-direction: column;
}
.contact .con-center .contact-sect .cn-right .cn-form .form-group label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.contact .con-center .contact-sect .cn-right .cn-form .form-group input,
textarea {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #892c4d;
}

.contact .con-center .contact-sect .cn-right .cn-form .cn-btns {
    float: right;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    background: #892c4d;
    color: #ffffff;
}

.st_btn {
    color: #121212;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s;
}
.st_btn:hover {
    color: #e23e57;
    font-size: 30px;
}
.top-menu.menu-down {
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgb(255, 255, 255, 0.3)
    );
}
.welcom-modal,
.admin-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.welcom-modal .welcom-content,
.admin-modal .admin-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 400px;
}
.welcom-modal .welcom-content .welcom-mhell,
.admin-modal .admin-content .admin-mhell {
    font-size: 40px;
    text-align: center;
    margin-top: 20%;
}
