body {
    background-color: rgb(255, 246, 244);
}
input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 10px;
    position: relative;
    top: 30px;
    width: 300px;
    border-color: black;
}
.button{
    position: relative;
    left: 70px;
    width:200px;
    height: 40px;
    top: 25px;
}
.button1{
    position: absolute;
    left: 330px;
}
.size{
    height: 200px;
    width: 350px;
}
.button2{
    position: absolute;
    width: 45px;
    top: -15px;
    display: flex;
}
