.writebtn {
    background-color: #88304E;
    color: #FFF;
    width: 100px;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-right: 70px;
    font-size: 15px;
    cursor: pointer;
    /* margin-left: 90%; */
    font-family: Pretendard;
    text-decoration: none;
    /* position: absolute; */
    /* top: 50%; */
    margin: auto;
}

.writebtn:hover {
    background-color: #E23E57;
    color: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F5F5F7;
}

/* .modal-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
} */

/* .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
} */

.modal-box{
    display: none;
    overflow: hidden;
    background-color: #FFF;
    max-width: 700px;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    font-family: pretendard;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-title{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-form{
    /* 부모 요소 */
    position: relative;
}

.modal-title .exit{
    width: 30px;
    font-size: 35px;
    border: none;
    background-color: transparent;
    color: #DDD;
    margin-bottom: 10px;
    /* 자식 요소 */
    position: absolute;
    transition: all 0.2 ease;
    top: -10px;
    right: 0;
}

.modalTitle{
    font-family: pretendard;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #EEE;
}

.modal-box .modal-form .modal-text{
    font-family: pretendard;
    font-weight: 400;
    min-height: 400px;
    width: 100%;
    padding: 10px 10px 10px 14px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background: #EEE;
    color: #121212;
    margin-bottom: 10px;
}

.img-area{
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #EEE;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area i{
    font-size: 70px;
}

.img-area h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 10px;
}

.img-area p{
    color: #999;
}

.img-area p span{
    font-weight: 600;
}

.img-area img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before{
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #FFF;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before{
    opacity: 1;
}

.select-img{
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 15px;
    border: none;
    background-color: #E23E57;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: all .3s ease;
    margin-bottom: 30px;
}

.select-img:hover{
    background-color: #88304E;
}

.modal-btn{
    text-align: center;
}

.modal-btn .accept{
    border: none;
    background-color: #EEE1E3;
    color: #88304E;
    width: 120px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
}
.modal-btn .accept:hover{
    background-color: #E23E57;
    color: #FFF;
}

.modal-box.on{
    display: block;
}