@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    background-color: #F5F5F7;

    display: grid;
    place-items: center;
}

i{
    padding: 10px;
    color: #121212;
}

header{
    width: 100%;
    background-color: #FFF;
    position: fixed;
    color: #121212;
    padding: 0 20px;
    /* 헤더 고정 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a.logo{
    color: #121212;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
    font-family: cursive;
}

nav ul:not(:where([class~='pagebar'] *)){
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

nav ul li:not(:where([class~='pagebar'] *)){
    line-height: 60px;
    margin: 0 5px;
}

nav ul a:not(:where([class~='pagebar'] *)){
    color: #121212;
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 4px;
    transition: .4s;
    font-family: Pretendard;
}

.active, nav ul a:hover:not(:where([class~='pagebar'] *)){
    background: #E23E57;
    color: #FFF;
    padding: 10px;
}

main{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    font-size: 40px;
}

section#running{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section#food{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section#crew{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section#tips{
    color: #121212;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.checkbtn{
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* 알알꿀팁 스타일 시작 */

.containerBox{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.container{
    width: 1140px;
    margin: 0 auto;
    margin-top: 135px;
    padding-bottom: 15px;
    font-family: Pretendard;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: white;
}

.card-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag{
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: 0.75rem;
}

.tag + .tag{
    margin-left: .5em;
}

.tag-red{
    background: #E23E57;
    /* 그라데이션 요소 */
    /* background: linear-gradient(to bottom, #E23E57, white); */
    color: white;
}

.card-body h4{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card-footer{
    display: flex;
    padding: 1rem;
    margin-top: auto;
}


.readMorebtn{
    background-color: white;
    color: #88304E;
    width: 100px;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-right: 70px;
    font-size: 14px;
    cursor: pointer;
    font-family: Pretendard;
}

.readMorebtn:hover{
    background-color: #E23E57;
    color: #FFF;
}

.writebtn{
    background-color: #88304E;
    color: #FFF;
    width: 100px;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-right: 70px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 90%;
    font-family: Pretendard;
}

.writebtn:hover{
    background-color: #E23E57;
    color: #FFF;
}

.l-btn{
    color: #121212;
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}

.l-btn:hover{
    background: #E23E57;
    color: #FFF;
    padding: 10px;
}

.containerform{
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    height: 775px;
}

.form-container{
    margin: 0 20px;
}

.column-left{
    padding: 70px;
    flex: 1;
    padding-right: 20px;
}

.column-right{
    flex: 1;
    padding-right: 20px;
}

/* 대표 이미지 */
#root{
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
}

.fileTitle{
    text-align: center;
    margin-top: 130px;
}

.fileImage{
    /* display: flex; */
    flex-direction: row;
    margin-top: 30px;
}

.fileImage .upload-box{
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.fileImage .upload-box .drag-file{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #DBDBDB;
}

.fileImage .upload-box .drag-file .image{
    width: 40px;
    /* height: 350px; */
}
.fileImage .upload-box .drag-file .message{
    margin-bottom: 0;
}
.fileImage .upload-box .drag-file .preview{
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
.fileImage .upload-box .file-label{
    margin-top: 30px;
    background-color: #E23E57;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    width: 65%;
    border-radius: 6px;
    cursor: pointer;
}
.fileImage .upload-box .file{
    display: none;
}

.btn{
    background-color: #88304E;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    font-family: Pretendard;
    margin-top: 100px;
    width: 100px;
}

.btn:hover{
    background-color: #E23E57;
}


.textForm{
    margin-bottom: 20px;
}
.textTitle{
    padding: 10px;
    width: 500px;
    font-size: 16px;
    border: 2px solid #CCC;
    color: #121212;
    outline: none;
}

@media (max-width: 700px) {
    .fileImage{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .fileImage .upload-box{
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
    .fileImage .upload-box .drag-file{
        height: 150px;
    }
    .fileImage .files{
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        overflow: initial;
    }
}

/* 알알꿀팁 상세 페이지 */
.post-container{
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    margin-bottom: 65px;
}
