.main{
    background-color: aliceblue;
}
.main_sup{
    position: relative;
    left: 100px;
    top: 100px;
    display: inline block;
    width: 1300px;
    height: 50px;
    border: 3px solid black;
}
.select{
    position: relative;
    top: 8px;
    width: 100px;;
    height: 40px;
    left: 400px;
}
.lebel{
    position: relative;
    top: 10px;
    font-size: 20px;
    right: -400px;
}
.date{
    position: relative;
    top: 10px;
}
.datee{
    position: relative;
    top: 10px;
    height: 25px;
    right: -400px;
}
.datee2{
    position: relative;
    top: 2px;
    height: 25px;
    right: 0px;
}
/* 상세페이지 회비버튼  */
.datee3{
    position: relative;
    top: -10px;
    height: 15px;
    width: 400px;
    left: -245px;
}
.button{
    background-color: rgb(204, 21, 143);
    position: relative;
    top: 60px;
    left: 730px;
    border-radius: 4px;
    color: #ddd;
}
.button:active {
    background-color: #ffbf00;
}
.common{
    position: relative;
    top: 70px;   
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
    .container {
    position: relative;
    top: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-box {
    width:400px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}
.sup{
    position: relative;
    top: 40px;
    display: inline block;
    width: 500px;
    height: 25px;
    border: 2px solid black;
    }
.sup1{
    position: relative;
    top: 40px;
    display: inline block;
    width: 500px;
    height: 85px;
    border: 2px solid black;
    }
.met {
    position: absolute; /* 포지션센터고정 */
    top: 50%;
    left: 50%;
    height: 600px;
    width: 950px;
    transform: translate(-50%, -50%);
    }
input{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 230px;
}
.input1{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 400px;
    height: 15px;
}
.input2{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-top: 4px;
    width: 400px;
    height: 150px;
}
/* 상세페이지 상세내용 박스*/
.input3{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-top: 4px;
    width: 400px;
    height: 200px;
    top: 50px;
    right: 920px;
}        
/* 크루모집 게시물페이지 닫기 수정버튼 */
.button2{
    background-color: #88304E;
    color: white;
    position: relative;
    left: 600px;
    top: 120px;
    height: 70px;
    width: 100px;
}
.button3{
    background-color: #88304E;
    color: white;
    position: relative;
    left: -100px;
    top: 100px;
    height: 70px;
    width: 100px;
}

