body {
  background-image: url('/image/c_crew.png');
  background-size: cover; /*이미지가 배경 전체를 덮도록 */
  
}
.flex-container {
    display: flex;
  }
  /* 상세페이지 이미지박스위치 */
  .flex-container1{
    position: absolute;
    left: -90px;
    top: 200px;
  }
    .image-boxx {
      width: 400px;
      height: 200px;
      object-fit: cover;
      display: block;
      margin: 20px auto;
      position: absolute;
      top: -200px;
      left: 500px;
      height: 400px;
    }
    /* 상세페이지 이미지박스 */
    .image-boxxx1 {
      width: 400px;
      height: 200px;
      object-fit: cover;
      display: block;
      margin: 20px auto;
      position: absolute;
      top: 30px;
      left: 1750px;
      height: 400px;
    }
  
    .upload-btn {
      border: 1px solid #ddd;
      padding: 6px 12px;
      display: inline-block;
      cursor: pointer;
      position:absolute;
      left: 650px;
      top: 250px;
  
      input[type=file] {
        display: none;
      }
      .file{
        position: relative;
        left: 100px;
        top: 40px;
    }
    }
    /* 크루모집넘김로직 */
    .pagination1 {
      display: flex;
      list-style: none;
    }
    
    .pagination1 li {
      margin: 0 5px;
    }
    
    .pagination1 li a {
      text-decoration: none;
      padding: 8px 16px;
      border: 1px solid #dddddd;
      color: #312f2f;
      font-weight: bold;
      font-size: 30px;
      position: relative;
      top: 850px;
      left: 600px;

    }
    
    .pagination1 li a:hover {
      background-color: #ece2e2;
    }