<<<<<<< HEAD
body {
    margin: 0;
}

#myDialog {
    width: 900px;
    height: 95%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
=======
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.header-title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 22%;
    transform: translateX(-50%);
    overflow: hidden;
    margin-top: 20px;
}
.header-line {
    position: absolute;
    top: 13%;
    left: 16%;
    overflow: hidden;
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 줄 두께 */
    background-color: #0e0c0d; /* 줄 색상 */
    width: 70%;
}

table {
    position: relative;
    left: 16%;
    width: 70%;
    direction: inherit;
    border-collapse: collapse;
    margin-top :100% /* 상단 여백 추가 */
}
table, th, td {
    border: 3px solid #dfd3d3;
    text-align: center;
    margin-top:150px;
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
}

a {
    text-decoration: none;
    color: aliceblue;
}

.header-title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 22%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.header-line {
    position: absolute;
    top: 13%;
    left: 16%;
    height: 1px;
    background-color: #0e0c0d;
    width: 70%;
}

.pagination {
    position: absolute;
    top: 1000px;
    left: 500px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #000;
}

.pagination li a:hover {
    background-color: #ddd;
}

.btn-create {
    margin-bottom: 10px;
}

<<<<<<< HEAD
.edit-btn,
.reset-btn {
    padding: 5px 50px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-btn:hover,
.reset-btn:hover {
    background-color: darkred;
}

.close_ic {
    display: flex;
    position: absolute;
    left: 95%;
    width: 24px;  
    height: 24px; 
    cursor: pointer;
}
.input1,
.input2,
.input3 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #E23E57;
    border-radius: 5px;
}

.input3 {
    height: 110px;
}

.delete-modal-content,
.detail-modal-content {
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: center; /* For delete modal */
    height: 130px; /* Specific for delete modal */
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-modal-content {
    height: 850px; /* Specific for detail modal */
    text-align: left;
}

.modal-content1 h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.confirm-btn,
.cancel-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.confirm-btn {
    background-color: red;
    color: white;
}

.cancel-btn {
    background-color: grey;
    color: white;
}

.postdetall-box {
    width: 860px;
    height: 300px;
    padding: 10px;
    margin: -10px 0 15px 0;
    border: 1px solid #E23E57;
    border-radius: 5px;
    overflow: auto;
}

.flex-container1 {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
    width: 60%;
    margin-left: 18%;
}

div > i {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 19%;
    right: 5%;
}

.star {
    cursor: pointer;
    font-size:1.5rem;
}
.report-container {
    font-family: sans-serif;
    position: absolute;
    display: flex; 
    align-items: center; 
    left: 39%;
    top: 92%;
}

/* 신고버튼 */
.report-button {
    position: relative;
    top: 8px;
    left: 70%;
=======
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
    width: 7%; 
}
/* 서치조절 */
.search-container input[type="text"] {
    width: 500px;
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
    padding: 5px;
    background-color: #E23E57; 
    color: #fff;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    border: none;  
}

.report-button:hover {
    background-color: #d7354c;
}

/* 테이블 스타일 */
table {
    position: relative;
    left: 5%;
    width: 90%;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid #dfd3d3;
    text-align: center;
    margin-top: 1%;
}

th, td {
    padding: 16px;
    text-align: center;
}

/* 제목조절 */
.search-container {
    width: 13%; 
    height: auto; 
    margin-left: 10%;
    margin-top: 15px; 
    overflow: hidden;
}

/* 텍스트 입력 필드 위치 조정 */
.text {
    width: 50%; 
    height: 30px; 
    position: absolute;
<<<<<<< HEAD
    top: 18.3%;
    right: 33.5%; 
}
select {
    width: 50%; /* Make it fill the container */
    padding: 5px; /* Add some padding */
    margin-bottom: 10px; /* Space between select and input */
}
/* 헤드고정 */
.admmt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Pretendard;
    overflow: hidden;
}
.admmt .admmt-contents {
    width: 1140px;
    margin-top: 110px;
    font-family: Pretendard;
}
=======
    margin-left:23%;
    margin-top: 0.3%;
    width: 400px;
    height: 20px;
}
/* 셀렉트조절 */
.search-container{
    position: absolute;
    left: 16%;
    top: 92%
}
/* 수정 삭제 */
.reset-btn {
    padding: 5px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.edit-btn{
    padding: 5px 50px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

}

.reset-btn:hover,
.edit-btn:hover {
    background-color: rgb(206, 44, 119);
}

.close_ic {
    display: flex;
    position: absolute;
    left: 95%;
    width: 24px;  
    height: 24px; 
    cursor: pointer;
  }
  .input1, .input2 {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #E23E57;
    border-radius: 5px;
  }
  .input3 {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #E23E57;
    border-radius: 5px;
  }
  .delete-modal-content {
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 130px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-modal-content {
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    width: 700px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content1 h2 {
    margin-bottom: 20px;
    font-size: 18px;
}
.modal-buttons {
    display: flex;
    justify-content: space-around;
}
.confirm-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.confirm-btn {
    background-color: red;
    color: white;
}
.cancel-btn {
    background-color: grey;
    color: white;
}
.postdetall-box{
    width: 600px;
    height: 350px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #E23E57;
    border-radius: 5px;
}
.flex-container1{
    display: flex;
    position: relative;
    left: -35%;
    top: -25px;
    width: 10%;
  }
div > i{
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 6.8%;
    left: 83%;

  }
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
