.ustatus-change {
    width: 200px;
    height: 200px;
    padding: 20px;
    color:black;
    border: 1px solid #ccc;
    background-color: #ace6f5;
    border-radius: 50px;
    position: relative; 
    left: -550px;
    top : 50px;
    bottom: 10px;
}

