table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* 상단 여백 추가 */
}

table, th, td {
    border: 3px solid #dfd3d3;
    text-align: center;
    margin-top: 80px;
}

th, td {
    position: relative;
    padding: 25px;

}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #000;
}

.pagination li a:hover {
    background-color: #ddd;
}

.btn-create {
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.search-container input[type="text"] {
    width: 200px;
    padding: 5px;
}

/* 텍스트 입력 필드 위치 조정 */
.text {
    position: absolute;
    margin-left: 60px; /* absolute 대신 margin으로 위치 조정 */
}
.navbar{
    background-color: #3e444d;
}