  /* 상세페이지 이미지박스위치 */
  .flex-container1{
    position: relative;
    left: 200px;
    top: 200px;
  }
  /* 상세페이지 이미지박스 */
  .image-boxxx1 {
    width: 400px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    position: absolute;
    height: 400px;
  }
  .upload-btn {
    border: 1px solid #ddd;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    left: 650px;
    top: 250px;

    input[type=file] {
      display: none;
    }
    .file{
      position: relative;
      left: 100px;
      top: 40px;
    }
  }
    /* 하단페이징표시 */
    .pagination1 {
      display: flex;
      list-style: none;
    }
    
    .pagination1 li {
      margin: 0 5px;
    }
    
    .pagination1 li a {
      text-decoration: none;
      padding: 8px 16px;
      border: 1px solid #dddddd;
      color: #312f2f;
      font-weight: bold;
      font-size: 30px;
      position: relative;
      top:-20px;
      left: 450px;

    }
    
    .pagination1 li a:hover {
      background-color: #ece2e2;
    }