/* 모달창스타일 */
#myDialog {
<<<<<<< HEAD
  width: 900px;
  height: 95%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 센터 */
=======
  width: 45%; /* Adjust width as needed */
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  z-index: 1000; /* Ensures the modal is above other elements */
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
}
.modal{
  background-color: #F5F5F7;
}
/* 인풋스타일 */
.input1, .input2 {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #E23E57;
  border-radius: 5px;
<<<<<<< HEAD
  font-family: sans-serif;
}
.input3 {
  font-family: sans-serif;
=======
}
.input3 {
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
  width: 100%;
  height: 130px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #E23E57;
  border-radius: 5px;
}
/* 이미지박스조절 */
.postedit-box {
<<<<<<< HEAD
  left: 20%;
  width: 500px;
  height: 350px;
  padding: 10px;
  margin-top: 135px;
=======
  width: 790px;
  height: 350px;
  padding: 10px;
  margin-top: 20px;
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
  margin-bottom: 15px;
  border: 1px solid #E23E57;
  border-radius: 5px;
}
<<<<<<< HEAD
/* 저장 버튼 */
.button2 {
  position: absolute;
  right: 60%;
  margin-top: 55%;
  padding: 15px 40px;
  background-color: #E23E57;
  color: #fff;
  border:none;
=======

/* 저장 버튼 */
.button2 {
  padding: 15px 30px;
  background-color: #E23E57;
  color: #fff;
  border: none;
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
  border-radius: 1rem;
  cursor: pointer;
  }
/* 클로즈이미지 조절 */
.close_ic {
  display: flex;
  position: absolute;
  left: 95%;
  width: 24px;  
  height: 24px; 
  cursor: pointer;
}
.money-container {
  width: 150px;
  border: 1px solid #E23E57;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Stack vertically */
  margin-top: 10px; /* Spacing below the element */
}

.money-label {
margin-top: 0px;
  font-size: 20px; /* Adjust as needed */
}

  .upload-btn {
<<<<<<< HEAD
    position: absolute;
    right: 20%;
    margin-top: 98.8%;
    padding: 15px 30px;
    background-color: #E23E57;
    color: #fff;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
=======
    margin-top: -6px;
    text-align: center;
    border: 1px solid #E23E57;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    left: 190px;
    top: 250px;
    height: 50px;
   
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd

    input[type=file] {
      display: none;
    }
    .file{
      position: relative;
      left: 100px;
      top: 40px;
    }
  }
<<<<<<< HEAD
  .flex-container{
    position: absolute;
    left: 20%;
  }
=======
>>>>>>> fb07df2bf008dee6082ee9fb177f17f6b8d200cd
