#myDialog1 {
    width: 900px;
    height: 95%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 센터 */

}
.modal-content {
    background-color: #F5F5F7;
    border-radius: 5px;
}
/* 상세 이미지박스 */
.flex-container1 {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
    top: -25px;
    width: 100%;
}
h1{
    font-family: sans-serif;
}
.h2{
    font-size: 1rem;
    font-family: sans-serif;
    color: red;
}
  /* 상세페이지 이미지박스 */
.postdetall-box {
    width: 500px;
    height: 300px;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
    border: 1px solid #E23E57;
    border-radius: 5px;
    overflow: auto;
}
  /* 신고하기 */
.report-container {
    font-family: sans-serif;
    position: absolute;
    display: flex; 
    align-items: center; 
    left: 36%;
    top: 92%;
}

/* 신고버튼 */
.report-button {
    position: relative;
    top: 8px;
    left: 70%;
    padding: 5px 5px;
    background-color: #E23E57; 
    color: #fff;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    display: flex; 
    align-items: center;
    border: none;  
}

.report-button:hover {
    background-color: #d7354c; /* 호버 시 색상 어둡게 변경 */
}