.section{
    width: 1140px;
    margin: 0 auto;
}
.recrut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recrut .recrut-contents {
    margin-top: 10px;
    font-family: Pretendard;
}
/* 등록하기 버튼 스타일 */
.header-button .submit-btn {
    margin-top: 40px;
    position: absolute;
    top: 170px;
    left: 90%;
    transform: translateX(-50%);
    background-color: #d6134e;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 5px 15px;
    font: bold;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}

.crew{
    position: absolute;
    top: 17%;
    font-size: 3rem;
    left: 88%;
    overflow: hidden;
    color: #0f0e0f;
    animation: slide 2s;
}
@keyframes slide {
    0% {
        left: -100px; 
    }
    100% {
        left: 1110px; 
    }
}
.header-button .submit-btn:hover {
    background-color: #d6134e;
}
.icon-alert {
    position: absolute;
    top: 27.5%;
    left: 29%;
    color: #d6134e;
    font-size: 2rem;
    overflow: hidden;
    }
/* 본문 글꼴 및 기본 스타일 설정 */
body {
    padding-top: 0px; 
    background-color: #f5f5f7;
}

.more-info:hover {
    color: white;
}
/* 크루 박스 위치 조절 */
.crew-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 120px;
}
.crew-box {
    width: calc(45.45% 25px); 
    border: 1px solid #ccc;
    width: 260px;
    height: 450px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    font-family: Pretendard;
}

/* 장소 날짜 회비 를 나타내는 박스 */
.main {
    position: absolute;
    top: 19%;
    display: inline block;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/*장소 날짜 회비 선택창 조절 */
.place {
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* 크루 모집 섹션 스타일 */
.crew-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flcenter;
}
.top-box {
    display: flex;
    flex-direction: row;
    padding: 13px;
}
.h5:hover{
    cursor: pointer;
    background: #E23E57;
    color: #eee7e8;
    padding: 2px;
    box-shadow: 0 .1rem 1rem #da093d;
    border-radius: 1rem;
}
.h5{
    color: #E23E57;
    margin: 0px;
    font-family: Pretendard;
}
.img{
    width: calc(100%); 
    border: 1px solid #ccc;
    width: 258px;
    height: 220px;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}
.font{
    text-align: center;
    font-size: 25px;
}