.header-title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 22%;
    transform: translateX(-50%);
    overflow: hidden;
    margin-top: 20px;
}
.header-line {
    position: absolute;
    top: 13%;
    left: 19%;
    overflow: hidden;
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 줄 두께 */
    background-color: #0e0c0d; /* 줄 색상 */
    width: 62%;
}
/* 등록하기 버튼 스타일 */
.header-button .submit-btn {
    margin-top: 20px;
    position: absolute;
    top: 115px;
    left: 78%;
    transform: translateX(-50%);
    background-color: #8b3a4a;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font: bold;
}

.header-button .submit-btn:hover {
    background-color: #d6134e;
}

/* 본문 글꼴 및 기본 스타일 설정 */
body {
    padding-top: 0px; /* 헤더 높이 만큼 패딩 추가 */
    background-color: #f5f5f7;
}

.more-info:hover {
    color: white;
}
/* 크루 박스 위치 조절 */
.crew-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    gap: 20px;
    margin-top: 250px;

}
.crew-box {
    width: calc(33.33% 25px); 
    border: 1px solid #ccc;
    width: 230px;
    height: 350px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

.crew-image {
    height: 228px; /* Set a fixed height */
    gap: 30px;
    object-fit: cover; /* Ensures the image scales properly */
}
.icon-alert {
    position: absolute;
    top: 22%;
    left: 39%;
    color: #d6134e;
    font-size: 24px;
    overflow: hidden;
    }

/* 장소 날짜 회비 를 나타내는 박스 */
.main {
    position: absolute;
    top: 15%;
    display: inline block;
    width: 520px;
    height: 50px;
    border: 2px solid #d6134e;
    overflow: hidden;
}
/* 장소칸 설정 */
/* 날짜 회비 선택창 조절 */
.place {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 크루 모집 섹션 스타일 */
.crew-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-box {
    display: flex;
    flex-direction: row;
    padding: 13px;
}
.h5:hover{
    cursor: pointer;
    background: #E23E57;
    color: #eee7e8;
    padding: 2px;
    border-radius: 1px;
}
.h5{
    width: auto;
    text-align: center;
    color: #E23E57;
    margin: 3px;
}