/* 메인배너 슬라이드 스타일 */
.adslides {
    position: relative; /* 슬라이드 버튼을 위한 위치 조정 */
    height: 350px; /* 높이 300px 설정 */
    display: flex; /* 슬라이드를 수평으로 배치 */
    width: 300%; /* 3개의 슬라이드를 가로로 배치하기 위해 3배로 설정 */
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 */
}

.adslide {
    width: 100%; /* 각 슬라이드가 전체 너비를 차지 */
    flex-shrink: 0; /* 슬라이드가 줄어들지 않도록 설정 */
    height: 100%;/* 슬라이드 높이 설정 */
    justify-content: center;
    align-items: center;
}

/* 각 슬라이드 배경색 설정 */
.adslide1 {
    background-color: white; /* 첫 번째 슬라이드 배경색 설정 */
    justify-content: flex-start; /* 왼쪽 정렬 */
}


.adslide2 {
    background-color: rgb(161, 161, 161);
    justify-content: flex-start;
}


.adslide3 {
    background-color: rgb(104, 102, 102);
    justify-content: flex-start;
}