* {
    font-family: Pretendard;
}
body {
    background-color: #f5f5f7;
}
.run-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.run-state .rstate-contents {
    width: 1140px;
    margin-top: 135px;
}
.run-state .rstate-contents .rstate-title .rstate-btns {
    position: relative;
    float: right;
    margin: 20px 10px 0 0;
}
.run-state .rstate-contents .rstate-title .rstate-btns .rsbtn {
    background-color: #88304E;
    color: #ffffff;
    border-radius: 3px;
    width: 100px;
    margin: 0 5px;
    padding: 10px 18px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.run-state .rstate-contents .rstate-title .rstate-btns .rsbtn:hover {
    background-color: #e23e57;
}
.run-state .rstate-contents .rstate-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 75px;
    padding: 1rem;
}
.run-state .rstate-contents .rstate-main .rstate-top {
    display: flex;
    flex-direction: row;
}
.run-state .rstate-contents .rstate-main .rstate-bottom {
    display: flex;
    flex-direction: row;
}
.run-state .rstate-contents .rstate-main .rstate-card {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 350px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #121212;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-img {
    margin-top: 20px;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    border: #88304e solid 1px;
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-title {
    font-size: 20px;
    margin-top: 10px;
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-total {
    display: flex;
    flex-direction: row;
    margin: 15px -10px 0 -10px;
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-total .rscard-att {
    display: flex;
    flex-direction: column;
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-total .elem-title {
    text-align: center;
    font-weight: bold;
    margin-top: -15px;
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 20vh;
    padding: 20px;
    margin: 30px 4px;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    background-color: #d64545d7;
    color: #ffffff;
}
.run-state .rstate-contents .rstate-main .rstate-card .rscard-elem:hover {
    background-color: #e4f317;
    color: #121212;
    transition: 2s;
    font-weight: bold;
}
