/* 크루모집모달 */
#myDialog {
  max-width: 450px; 
  height: 87%; 
  padding: 10px; 
  border: none;
  border-radius: 1em;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #F5F5F7; 
  top: 55%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  animation: fadeIn 0.3s ease-in-out; 
  }
  @keyframes fadeIn {
    from {
  opacity: 0; 
  transform: scale(0.9); 
  to {
  opacity: 1; 
  transform: scale(1); 
      }
    }
  }
  .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: backdropFadeIn 0.3s ease-in-out forwards; 
  font-family: Pretendard; 
  }
  
  @keyframes backdropFadeIn {
  from {
  opacity: 0;
      }
  to {
  opacity: 1;
      }
  }
  .modal{
    height: 100%;
    padding: 30px;
    background-color: #FFF;
    font-family: Pretendard; 
  }
  /* 인풋스타일 */
  .input1, .input2 {
    border: none;
    background-color:#EEE;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    font-family: Pretendard; 
  }
  .input3 {
    border: none;
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */
    height: 17vh;
    background-color:#EEE;
    width: 99%;
    padding: 10px;
    margin-top: 10px;
    margin-left: -0.1%;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    font-family: Pretendard; 
  }
  .input-number{
    border: none;
    background-color:#EEE;
    width: 20.6%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  }
  .input-date{
    border: none;
    background-color:#EEE;
    width: 32%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    font-family: Pretendard; 
  }
  .input-time{
    border: none;
    background-color:#EEE;
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  }
  .input-fee{
    border: none;
    background-color:#EEE;
    width: 24%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  }
  .inputput{
    position: absolute;
    margin-top: 3%;
  }
  
  /* 이미지박스조절 */
  .postedit-box {
    border: none;
    border: 1px solid #E23E57; 
    width: 500px; 
    height: 300px; 
    padding: 10px; 
    margin-top: 20px; 
    margin-left: 30px; 
    border-radius: 5px; 
  }
  /* 클로즈이미지 조절 */
  .close {
    background-color: #FFF;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
  }
  
  .close:hover,
  .close:focus {
    color: #aaa;
    cursor: pointer;
  }
  
.inside{
  border: none;
  position: absolute;
  left: 180px;
  margin-top: 350px;
  background-color: #EEE;
  color: #131313;
  text-align: center;
  padding: 10px 0;
  width: 20%;
  border-radius: 6px;
  cursor: pointer;
}
  .preview-container{
    margin-top: 30px;
    position: absolute;
    right: 9%;
    height: 25vh;
    width: 370px;
    border: none;
    background-color:#EEE;
    border-color: black;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    font-family: Pretendard; 
  }
  .file-label{
    position: absolute;
    left: 60px;
    margin-top: 23px;
    background-color: #E23E57;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    width: 50%;
    border-radius: 6px;
    cursor: pointer;
    font-family: Pretendard; 
  }
  .file{
    color: blanchedalmond;
    background-color: #000000;
    display: none;
    padding: 10px 20px;
    font-family: Pretendard; 
  }
  /* 크루모집모달 */
  /* 2024 10 16 9:18분업데이트완료 */